body {
    background-color: #ff0000;
    text-align: center;
}

div#chess-board {
    display: grid;
    grid-template: repeat(8,1fr)/repeat(8,1fr);
    border: solid black 2px;
    height: 560px;
    width: 560px;
}

/* div.pos-11 {
    
} */
div.taken {
    width: 60px;
    height: 60px;
    margin: 0;
}
#black-taken {
    height: 240px;
    width: 240px;
    /* display: grid;
    grid-template: repeat(8,1fr)/repeat(2,1fr); */
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-content: flex-start;
}
#white-taken {
    height: 240px;
    width: 240px;
    /* display: grid;
    grid-template: repeat(8,1fr)/repeat(2,1fr); */
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-end;
}

div.bp {
    background-image: url("../images/blackPawn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.br {
    background-image: url("../images/blackRook.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.bn {
    background-image: url("../images/blackKnight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.bb {
    background-image: url("../images/blackBishop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.bq {
    background-image: url("../images/blackQueen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.bk {
    background-image: url("../images/blackKing.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wp {
    background-image: url("../images/whitePawn.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wr {
    background-image: url("../images/whiteRook.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wn {
    background-image: url("../images/whiteKnight.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wb {
    background-image: url("../images/whiteBishop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wq {
    background-image: url("../images/whiteQueen.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
div.wk {
    background-image: url("../images/whiteKing.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


div.mv {
    background-image: url("../images/mv.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;
    opacity:0.5 ;
}

/* div.take {
    background-color: rgba(255, 0, 0, 0.200);
    opacity: 0.1; 
} */

/* div.light {
    background-color: white;
    border: 1px black;
}

div.dark {
    background-color: gray;
} */